<%- include('includes/head.ejs') %>

<div class="jumbotron">
  <div class="container-md">
    <% if(error) { %> <%- include('includes/err.ejs') %> <% } %>
    
    <div id="app">
      <form @submit.prevent @submit="updateSettings">
        <label for="min_deposit">Min Deposit ($)</label>
        <input
          type="number"
          step="0.01"
          id="min_deposit"
          v-model="min_deposit"
          name="min_deposit"
          class="form-control mb-3" />

        <label for="max_deposit">Max Deposit ($)</label>
        <input
          type="number"
          step="0.01"
          id="max_deposit"
          v-model="max_deposit"
          name="max_deposit"
          class="form-control mb-3" />
          

        <label for="min_withdraw">Min Withdraw ($)</label>
        <input
          type="number"
          step="0.01"
          id="min_withdraw"
          v-model="min_withdraw"
          name="min_withdraw"
          class="form-control mb-3" />
        
        <label for="withdraw_fee">Withdraw Fee (%)</label>
        <input
          type="number"
          step="0.01"
          id="withdraw_fee"
          v-model="withdraw_fee"
          name="withdraw_fee"
          class="form-control mb-3" />
          
        
        <label for="ref_commision">Ref Commision (%)</label>
        <input
          type="number"
          step="0.01"
          id="ref_commision"
          v-model="ref_commision"
          name="ref_commision"
          class="form-control mb-3" />
    
        <label for="min_cpc">Min CPC ($)</label>
        <input
          type="number"
          step="0.01"
          id="min_cpc"
          v-model="min_cpc"
          name="min_cpc"
          class="form-control mb-3" />
        
        <label for="min_cpc">Min Pop CPC ($)</label>
        <input
          type="number"
          step="0.001"
          id="min_pop_cpc"
          v-model="min_pop_cpc"
          name="min_pop_cpc"
          class="form-control mb-3" />

        <label for="min_budget">Min Campaign Budget ($)</label>
        <input
          type="number"
          step="0.01"
          id="min_budget"
          v-model="min_budget"
          name="min_budget"
          class="form-control mb-3" />

        <label for="min_daily_budget">Min Daily Campaign Budget ($)</label>
        <input
          type="number"
          step="0.01"
          id="min_daily_budget"
          v-model="min_daily_budget"
          name="min_daily_budget"
          class="form-control mb-3" />

        <input
          type="submit"
          name="submit"
          value="Update"
          class="btn btn-primary btn-block mt-3"
        />
      </form>

    </div>
  </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  const keysApp = {
    data() {
      return {
        min_deposit: parseFloat('<%= data.min_deposit %>'),
        max_deposit: parseFloat('<%= data.max_deposit %>'),
        min_withdraw: parseFloat('<%= data.min_withdraw %>'),
        withdraw_fee: parseFloat('<%= data.withdraw_fee %>'),
        ref_commision: parseFloat('<%= data.ref_commision %>'),
        min_cpc: parseFloat('<%= data.min_cpc %>'),
        min_pop_cpc: parseFloat('<%= data.min_pop_cpc %>'),
        min_budget: parseFloat('<%= data.min_budget %>'),
        min_daily_budget: parseFloat('<%= data.min_daily_budget %>')
      };
    },
    methods: {
      async updateSettings() {
        try {
          const postData = {
            min_deposit: this.min_deposit,
            max_deposit: this.max_deposit,
            min_withdraw: this.min_withdraw,
            withdraw_fee: this.withdraw_fee,
            ref_commision: this.ref_commision,
            min_cpc: this.min_cpc,
            min_pop_cpc: this.min_pop_cpc,
            min_budget: this.min_budget,
            min_daily_budget: this.min_daily_budget
          }
          const res = await axios.post("/admin/rates", postData);
          alert('Success');
          location.reload();
        } catch (err) {
          alert(err);
          console.log(err);
        }
      }
    },
  };

  Vue.createApp(keysApp).mount("#app");
</script>

<%- include('includes/end.ejs') %>
