<%- include('includes/head.ejs') %>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="jumbotron">
  <div class="container-md">
    <% if(error) { %> <%- include('includes/err.ejs') %> <% } %>

    <div id="app">
      <h2>Categories (Max: 45)</h2>
      <form @submit.prevent @submit="addSiteData('category')">
        <div data-toggle="collapse" data-target="#catRow" style="cursor:pointer;">Show Categories</div>
        <div class="collapse" id="catRow">
            <ul class="list-group">
                <% for(var i=0; i < data.cats.length; i++) { %>
                    <li class="list-group-item"><%= data.cats[i].name %>
                      &nbsp;&nbsp;
                      <i class="fas fa-trash text-danger" style="cursor: pointer;" @click="deleteSiteData('category', '<%= data.cats[i].id %>')"></i>
                    </li>
                <% } %>
            </ul>
        </div>

        <input
          type="text"
          id="cat"
          v-model="cat"
          placeholder="Category Name"
          name="cat"
          class="form-control mb-3 mt-3"
        />

        <input
          type="submit"
          name="submit"
          value="Add Category"
          class="btn btn-primary btn-block mt-3"
        />
      </form>

      <h2 class="mt-5">OS (Max: 80)</h2>
      <form @submit.prevent @submit="addSiteData('os')">
        <div data-toggle="collapse" data-target="#osRow" style="cursor:pointer;">Show OS</div>
        <div class="collapse" id="osRow">
            <ul class="list-group">
                <% for(var i=0; i < data.os.length; i++) { %>
                    <li class="list-group-item"><%= data.os[i].name %>&nbsp;<%= data.os[i].version %>
                      &nbsp;&nbsp;
                      <i class="fas fa-trash text-danger" style="cursor: pointer;" @click="deleteSiteData('os', '<%= data.os[i].id %>')"></i>
                    </li>
                <% } %>
            </ul>
        </div>

        <div data-toggle="collapse" data-target="#osNames" style="cursor:pointer;">Show Possible OS</div>
        <div class="collapse" id="osNames">
          AIX, Amiga OS, Android, Arch, Bada, BeOS, BlackBerry, CentOS, Chromium OS,
          Contiki, Fedora, Firefox OS, FreeBSD, Debian, DragonFly, Fuchsia, Gentoo, GNU,
          Haiku, Hurd, iOS, Joli, KaiOS, Linpus, Linux, Mac OS, Mageia, Mandriva, MeeGo,
          Minix, Mint, Morph OS, NetBSD, Nintendo, OpenBSD, OpenVMS, OS/2, Palm, PC-BSD,
          PCLinuxOS, Plan9, PlayStation, QNX, Raspbian, RedHat, RIM Tablet OS, RISC OS,
          Sailfish, Series40, Slackware, Solaris, SUSE, Symbian, Tizen, Ubuntu, Unix, 
          VectorLinux, WebOS, Windows [Phone/Mobile], Zenwalk<br>
          <code>OS Version is determined dynamically</code>
        </div>

        <div class="row">
          <input
            type="text"
            id="os"
            v-model="os"
            placeholder="Windows"
            name="os"
            class="form-control mb-3 mt-3 col-md-6"
          />
          <input
            type="number"
            step="0.01"
            id="os_version"
            v-model="os_version"
            placeholder="10"
            name="os_version"
            class="form-control mb-3 mt-3 col-md-6"
          />
        </div>

        <input
          type="submit"
          name="submit"
          value="Add OS"
          class="btn btn-primary btn-block mt-3"
        />
      </form>

      <h2 class="mt-5">Browsers (Max: 20)</h2>
      <form @submit.prevent @submit="addSiteData('browser')">
        <div data-toggle="collapse" data-target="#browserRow" style="cursor:pointer;">Show Browsers</div>
        <div class="collapse" id="browserRow">
            <ul class="list-group">
                <% for(var i=0; i < data.browsers.length; i++) { %>
                    <li class="list-group-item"><%= data.browsers[i].name %>
                      &nbsp;&nbsp;
                      <i class="fas fa-trash text-danger" style="cursor: pointer;" @click="deleteSiteData('browser', '<%= data.browsers[i].id %>')"></i>
                    </li>
                <% } %>
            </ul>
        </div>

        <div data-toggle="collapse" data-target="#browserNames" style="cursor:pointer;">Show Possible Browsers</div>
        <div class="collapse" id="browserNames">
          2345Explorer, 360 Browser, Amaya, Android Browser, Arora, Avant, Avast, AVG,
          BIDUBrowser, Baidu, Basilisk, Blazer, Bolt, Brave, Bowser, Camino, Chimera,
          Chrome Headless, Chrome WebView, Chrome, Chromium, Comodo Dragon, Dillo,
          Dolphin, Doris, Edge, Electron, Epiphany, Facebook, Falkon, Fennec, Firebird,
          Firefox [Reality], Flock, Flow, GSA, GoBrowser, ICE Browser, IE, IEMobile, IceApe, 
          IceCat, IceDragon, Iceweasel, Instagram, Iridium, Iron, Jasmine, K-Meleon,
          Kindle, Konqueror, LBBROWSER, Line, Links, Lunascape, Lynx, MIUI Browser,
          Maemo Browser, Maemo, Maxthon, MetaSr Midori, Minimo, Mobile Safari, Mosaic,
          Mozilla, NetFront, NetSurf, Netfront, Netscape, NokiaBrowser, Oculus Browser,
          OmniWeb, Opera Coast, Opera [Mini/Mobi/Tablet], PaleMoon, PhantomJS, Phoenix, 
          Polaris, Puffin, QQ, QQBrowser, QQBrowserLite, Quark, QupZilla, RockMelt, Safari, 
          Sailfish Browser, Samsung Browser, SeaMonkey, Silk, Skyfire, Sleipnir, Slim, 
          SlimBrowser, Swiftfox, Tesla, Tizen Browser, UCBrowser, Vivaldi, Waterfox, WeChat,
          Weibo, Yandex, baidu, iCab, w3m, Whale Browser
        </div>

        <input
          type="text"
          id="browser"
          v-model="browser"
          placeholder="Chrome"
          name="browser"
          class="form-control mb-3 mt-3"
        />

        <input
          type="submit"
          name="submit"
          value="Add browser"
          class="btn btn-primary btn-block mt-3"
        />
      </form>

      <h2 class="mt-5">Languages (Max: 25)</h2>
      <form @submit.prevent @submit="addSiteData('language')">
        <div data-toggle="collapse" data-target="#langRow" style="cursor:pointer;">Show Languages</div>
        <div class="collapse" id="langRow">
            <ul class="list-group">
                <% for(var i=0; i < data.languages.length; i++) { %>
                    <li class="list-group-item"><%= data.languages[i].name %>
                      &nbsp;&nbsp;
                      <i class="fas fa-trash text-danger" style="cursor: pointer;" @click="deleteSiteData('language', '<%= data.languages[i].id %>')"></i>
                    </li>
                <% } %>
            </ul>
        </div>

        <input
          type="text"
          id="lang"
          v-model="lang"
          placeholder="Spanish"
          name="lang"
          class="form-control mb-3 mt-3"
        />

        <input
          type="submit"
          name="submit"
          value="Add Language"
          class="btn btn-primary btn-block mt-3"
        />
      </form>

      <h2 class="mt-5">Timezones</h2>
      <form @submit.prevent @submit="addSiteData('tz')">
        <div data-toggle="collapse" data-target="#tzRow" style="cursor:pointer;">Show Timezones</div>
        <div class="collapse" id="tzRow">
            <ul class="list-group">
                <% for(var i=0; i < data.timezones.length; i++) { %>
                    <li class="list-group-item"><%= data.timezones[i].zone %>
                      &nbsp;&nbsp;
                      <i class="fas fa-trash text-danger" style="cursor: pointer;" @click="deleteSiteData('tz', '<%= data.timezones[i].id %>')"></i>
                    </li>
                <% } %>
            </ul>
        </div>

        <input
          type="text"
          id="tz"
          v-model="tz"
          placeholder="Asia/Kolkata"
          name="tz"
          class="form-control mb-3 mt-3"
        />

        <input
          type="submit"
          name="submit"
          value="Add Timezone"
          class="btn btn-primary btn-block mt-3"
        />
      </form>

      <h2 class="mt-5">Banner Sizes</h2>
      <form @submit.prevent @submit="addSiteData('banner_size')">
        <div data-toggle="collapse" data-target="#bsRow" style="cursor:pointer;">Show Banner Sizes</div>
        <div class="collapse" id="bsRow">
            <ul class="list-group">
                <% for(var i=0; i < data.banner_sizes.length; i++) { %>
                    <li class="list-group-item"><%= data.banner_sizes[i].size %>
                      &nbsp;&nbsp;
                      <i class="fas fa-trash text-danger" style="cursor: pointer;" @click="deleteSiteData('banner_size', '<%= data.banner_sizes[i].id %>')"></i>
                    </li>
                <% } %>
            </ul>
        </div>

        <input
          type="text"
          id="banner_size"
          v-model="banner_size"
          placeholder="300x250"
          name="banner_size"
          class="form-control mb-3 mt-3"
        />

        <input
          type="submit"
          name="submit"
          value="Add Banner Size"
          class="btn btn-primary btn-block mt-3"
        />
      </form>

      <h2 class="mt-5">Buttons</h2>
      <form @submit.prevent @submit="addSiteData('button')">
        <div data-toggle="collapse" data-target="#btnRow" style="cursor:pointer;">Show Buttons</div>
        <div class="collapse" id="btnRow">
            <ul class="list-group">
                <% for(var i=0; i < data.btns.length; i++) { %>
                    <li class="list-group-item"><%= data.btns[i].name %>
                      &nbsp;&nbsp;
                      <i class="fas fa-trash text-danger" style="cursor: pointer;" @click="deleteSiteData('button', '<%= data.btns[i].id %>')"></i>
                    </li>
                <% } %>
            </ul>
        </div>

        <input
          type="text"
          id="button"
          v-model="button"
          placeholder="Buy Now"
          name="button"
          class="form-control mb-3 mt-3"
        />

        <input
          type="submit"
          name="submit"
          value="Add Button"
          class="btn btn-primary btn-block mt-3"
        />
      </form>

    <h2 class="mt-5">Campaign Types</h2>
      <form @submit.prevent @submit="addSiteData('campType')">
        <div data-toggle="collapse" data-target="#campTypeRow" style="cursor:pointer;">Show Campaign Types</div>
        <div class="collapse" id="campTypeRow">
            <ul class="list-group">
                <% for(var i=0; i < data.campTypes.length; i++) { %>
                    <li class="list-group-item">
                      <%= data.campTypes[i].name %>
                      &nbsp;&nbsp;
                      <span class="material-icons"><%= data.campTypes[i].icon %></span>
                      &nbsp;&nbsp;
                      <i class="fas fa-trash text-danger" style="cursor: pointer;" @click="deleteSiteData('campType', '<%= data.campTypes[i].id %>')"></i>
                      <div class="font-weight-bold">
                        <% data.campTypes[i].fields.split(",").forEach(field => { %>
                          <%= field %>
                        <% }) %>
                      </div>
                      <div class="block"><%= data.campTypes[i].desc %></div>
                    </li>
                <% } %>
            </ul>
        </div>
        <div style="display: block;"><a target="_blank" href="https://fonts.google.com/icons" nofollow>See Icons</a></div>

        <div class="row">
          <label for="camp_type" class="mt-3">Campaign Type (25 chars max)</label>
          <input
            type="text"
            id="camp_type"
            v-model="camp_type"
            placeholder="App Installs"
            name="camp_type"
            class="form-control mb-3 col-md-12"
          />
          <div class="col-md-12 text-danger">Count: {{camp_type.length}}</div>
          <label for="camp_type_desc">Campaign Description (80 chars max)</label>
          <textarea
            type="text"
            id="camp_type_desc"
            v-model="camp_type_desc"
            placeholder="Increase your app installs"
            name="camp_type_desc"
            rows="3"
            class="form-control mb-3 col-md-12"
          ></textarea>
          <div class="col-md-12 text-danger">Count: {{camp_type_desc.length}}</div>
          <label for="camp_type_fields">Campaign Fields (comma seperated)<br>
            (title, desc, banner, btn, follow)</label>
          <input
            type="text"
            id="camp_type_fields"
            v-model="camp_type_fields"
            name="camp_type_fields"
            class="form-control mb-3 col-md-12"
          />
          <label for="camp_type">Google Icon</label>
          <input
            type="test"
            id="camp_type_icon"
            v-model="camp_type_icon"
            placeholder="get_app"
            name="camp_type_icon"
            class="form-control mb-3 col-md-12"
          />
        </div>

        <input
          type="submit"
          name="submit"
          value="Add Campaign Type"
          class="btn btn-primary btn-block mt-3"
        />
      </form>

      
    </div>
  </div>
</div>

<script src="https://unpkg.com/vue@3.2.20/dist/vue.global.prod.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  const siteDataApp = {
    data() {
      return {
        cat: null,
        os: null,
        os_version: null,
        browser: null,
        lang: null,
        tz: null,
        banner_size: null,
        button: null,
        camp_type: '',
        camp_type_desc: '',
        camp_type_fields: 'title,desc,banner,btn,follow',
        camp_type_icon: null
      };
    },
    methods: {
      async addSiteData(type) {
        try {
          const postData = {}
          if(type == 'category') postData.category = this.cat;
          if(type == 'os') {
            postData.os = this.os;
            postData.version = this.os_version;
          }
          if(type == 'browser') postData.browser = this.browser;
          if(type == 'language') postData.language = this.lang;
          if(type == 'tz') postData.tz = this.tz;
          if(type == 'banner_size') postData.banner_size = this.banner_size;
          if(type == 'button') postData.button = this.button;
          if(type == 'campType') {
            postData.camp_type = this.camp_type;
            postData.camp_type_desc = this.camp_type_desc;
            postData.camp_type_fields = this.camp_type_fields;
            postData.camp_type_icon = this.camp_type_icon;
          }
          const res = await axios.post(`/admin/site-data?type=${type}`, postData);
          alert(res.data.msg);
          location.reload();
        } catch (err) {
          alert(err);
          console.log(err);
        }
      },
      async deleteSiteData(type, id) {
        try {
          const hasConfirm = confirm('Deleting this data could break crucial site functions! Are you sure?');
          if(!hasConfirm) return;
          const res = await axios.delete(`/admin/site-data?type=${type}&id=${id}`);
          alert(res.data.msg);
          location.reload();
        } catch (err) {
          alert(err);
          console.log(err);
        }
      },
    },
  };

  Vue.createApp(siteDataApp).mount("#app");
</script>

<%- include('includes/end.ejs') %>
